.header {
    width: 100%;
    height: 192px;
    padding: 48px 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: none;
    position: fixed;
    z-index: 999;
}

.logo {
    height: 48px;
}

.simbolo {
    display: none;
}

.contact-conteiner {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    
}

.contact-conteiner a {
    text-decoration: none;
    color: var(--c1);
    font-family: 'input-mono', monospace;
    font-size: 40px;
    font-weight: 600;
}
.contact-conteiner a:hover {
    color: var(--c2);
}